<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidfirstlinecode">

    <!-- 访问系统网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 监听系统开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".sqllite.litepal.LitePalTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".sqllite.litepal.LitePalTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sqllite.DatabaseActivity" />
        <activity android:name=".filestore.SharedPreferencesActivity" />
        <activity android:name=".filestore.FileStoreActivity" />
        <activity android:name=".broadcast.example_local_broadcast.BroadcastMainActivity" />
        <activity android:name=".broadcast.example_local_broadcast.LoginActivity" />
        <activity android:name=".broadcast.BroadcastTestActivity" />
        <activity android:name=".fragment.examples_news.NewMainActivity" />
        <activity android:name=".fragment.examples_news.NewsContentActivity" />
        <activity android:name=".fragment.FragmentLifecycleActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".widget.recycleview.demo.ChatActivity" />
        <activity android:name=".widget.recycleview.RecycleViewActivity" />
        <activity android:name=".MainActivity" />

        <receiver
            android:name=".broadcast.example_local_broadcast.ForceOfflineReceiver"
            android:enabled="true"
            android:exported="true"/>

        <!-- 静态注册广播接收器 -->
        <receiver
            android:name=".broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- 发送监听系统开启广播 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 自定义广播接收器 接收标准广播 -->
        <receiver
            android:name=".broadcast.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcasttest.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <!-- 有序广播接收器 priority：优先级; 范围-1000~1000 -->
        <receiver
            android:name=".broadcast.AnotherBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.broadcasttest.MY_BROADCAST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>